
.Rhistory

.Rproj.user/BC4C44B8/build_options

.Rproj.user/BC4C44B8/ctx/ctx-23972/history

.Rproj.user/BC4C44B8/ctx/ctx-23972/environment_vars

.Rproj.user/BC4C44B8/ctx/ctx-23972/environment

.Rproj.user/BC4C44B8/ctx/ctx-23972/console_actions

*.png

*.snapshot

*.pper
